<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="City" type="io.github.ctlove0523.mybatis.spring.db.entity.City"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/CityMapper.xml"/>
    </mappers>
</configuration>
