<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.ctlove0523.mybatis.started.mapper.FilmMapper">
    <resultMap id="filmResultMap" type="Film">
        <id property="filmId" column="film_id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="releaseYear" column="release_year"/>
        <result property="languageId" column="language_id"/>
        <result property="originalLanguageId" column="original_language_id"/>
        <result property="rentalDuration" column="rental_duration"/>
        <result property="rentalRate" column="rental_rate"/>
        <result property="length" column="length"/>
        <result property="replacementCost" column="replacement_cost"/>
        <result property="rating" column="rating" typeHandler="io.github.ctlove0523.mybatis.started.handlers.FilmRatingHandler"/>
        <result property="lastUpdate" column="last_update"/>
        <collection property="specialFeatures" ofType="java.lang.String">
            <constructor>
                <arg column="special_features"/>
            </constructor>
        </collection>
    </resultMap>
    <select id="selectFilmById" parameterType="int" resultMap="filmResultMap">
        SELECT * FROM film WHERE film_id = #{id}
    </select>
</mapper>
